# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\S562587\OneDrive - AXA\01-SoftwareAcademy\Git\Project_DA_Java_EN_Come_to_the_Rescue_of_a_Java_Application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
